@import 'book-styles';

h1, h2, h3, h4, h5, h6 {
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
}

p {
  font-family: 'Lora', serif;
  font-size: 18px;
}

.current-section > section,
.section > section {
  width: 60%;
/*  display: none; */
}

.current-section > .computer,
.section > .computer {
  width: 100%;
  display: grid;
}

.card {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 18px;
  position: absolute;
  width: 30%;
  right: 5%;
  padding: 0;
  margin-top: -5rem;

  .note {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 20px;
    color: white;
    position: absolute;
    line-height: 1em;
    display: block;
  }
}

/* Computer UI */
$computer-margin: 1rem;
$highlight: lightyellow;
$page-divider: rgb(200,200,200);


.computer {

  padding: $computer-margin;


  & > header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;


    .search-bar {
      text-align: left;
    }
    .search-remaining {
       text-align: center;
    }
    .search-help {
      text-align: right;
    }

  }
  /* The help modal */
  .help-modal {
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;

    border: 2px dashed black;
    width: 50%;
    height: 100px;
    background: white;
    &.true {
      display: flex;

    }
  }

  /* The actual scanned book */
  .doc {

    header {
      display: grid;
      grid-template-columns: 1fr 1fr;
      h4 {
        font-size: 20px;
      }
    }
    .reader {
      display: flex;
      .prev, .next {
        min-height: 100%;
      }
      .pages {
        & ::selection {
          background: $highlight;
        }
        padding: 1rem;
        margin: $computer-margin;
        background: radial-gradient(ellipse farthest-corner at 10% 10%,
                                          rgba(0, 10, 10, .05) 0%,
                                          rgba(200, 200, 210, .8) 100%);

        font-family: 'Playfair Display', serif;

        border-radius: 2px;
        border: 1px solid transparent;
        border-top: none;
        border-bottom: 1px solid #DDD;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, .39), 0 -1px 1px #FFF, 0 1px 0 #FFF;

        .recto, .verso {
          margin-bottom: 1rem;
        }
        .recto {
          text-align: left;
          float: left;
        }
        .verso {
          text-align: right;
          float: right;
        }

        article.article {
          clear: both;

          column-count: 2;
          column-gap: 4rem;
          column-rule: solid $page-divider 1px;
          text-indent: 1em;

          p {
            font-family: 'Playfair Display', serif;
            text-align: justify;
          }
        }

        & > header {

        }
      }
    }
  }
  .phrase {
    background-color: $highlight;
  }
}
