@import 'nav';
@import 'book-styles';
@import 'card-styles';
@import 'colors';
@import 'transitions';
@import 'fonts';
@import 'reader';

body {
  color: $black;
  background: $white;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;

}
h1, h2, h3, h4, h5, h6 {
  margin: .25rem 0 .5rem;
}
img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid;
}
a:hover {
  color: $orange;
  border-bottom: 1px solid $orange;
}

p {
  font-family: 'Lora', Georgia, serif;
  line-height: 1.6em;
  font-size: 18px;
}
li {
  font-family: $card-font;
  font-size: 18px;
  line-height: 1.6em;
}

.container {
  margin: 4em auto;
  max-width: 1600px;
  @media (max-width: 450px)  {
    display: none;
  }
}

blockquote p {
  color: $darkgray;
  margin: 1em 0 2em 2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
  font-weight: bold;
}
header {
  h1 {
    font-family: 'Cinzel Decorative', serif;
    font-size: 70px;
  }
  h2 {

  }
  text-align: center;
  h6 {
    text-transform: uppercase;
    padding-bottom: 2rem;
  }
  blockquote {
    text-align: left;
    margin: 2rem auto;
    padding-left: 2rem;
    font-family: $utopian-font;
    font-size: 18px;
    line-height: 1.4em;
  }
  .begin {
       font-family: 'Cinzel Decorative', serif;
  }
}
@keyframes lineAnim {
    to {
      stroke-dashoffset: 0;
    }
}


header.section-divider {

  svg {
    filter: url(#filter-line-wiggle);
    -webkit-filter: url(#filter-line-wiggle);
    height: 1rem;
    margin: 2rem 0 1rem 0;
    line {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: lineAnim 4s linear forwards;
    }
  }
}


.current-section > section,
.section > section {
  width: 55%;
  margin: auto;
}

.current-section > .reader,
.section > .reader {
  width: 80%;
}

.strikethrough {
  text-decoration: line-through;
}

blockquote {
  color: $darkgray;
  border: none;
}
.sign {
  background: radial-gradient(ellipse farthest-corner at 90% 90%,
                                    rgba(70, 60, 60, .6) 0%,
                                    rgba(65, 60, 60, 1) 100%);

  color: $white;
  padding: 2rem;
  text-align: center;
  margin: 1.5em 0;
  h4 {
    font-family: $sign-font;
    font-size: 2em;
    margin: 0;
    padding: 0;

  }
  p {
    background: none !important;
    color: $white;
    text-align: justify;
    margin: 1em 0 0 0;
  }
}
blockquote.typewritten {
  line-height: 1.4em;
}


figure {
  width: 60vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -30vw;
  margin-right: -30vw;
  padding-bottom: 2em;
  figcaption {
    font-family: $card-font;
    color: $black;
    font-size: 16px;
    text-indent: 0;
    line-height: 1.3rem;
    text-align: center;
  }
}
footer {
  figure {
    padding-top: 2rem;
    width: 80vw;
    margin-left: -40vw;
    margin-right: -40vw;
  }
  p {
    text-align: center;
    font-family: 'Cinzel Decorative', serif;
  }
}

.next-chapter-link {
    font-family: 'Cinzel Decorative', serif;
    text-align: center;
}

.credits  {
  div {
    column-count: 2;
    p {
      font-size: 16px;
      font-family: 'Lora', Georgia, serif;
      list-style-type: none;
    }
    .link {
      font-size: smaller;
      color: dodgerblue;
    }
    .card {
      font-family: 'Lora', Georgia, serif;
      font-size: 13px;
      line-height: 1.2em;
    }
  }
}

/* Shame message over small viewports */
#small-viewport-message {

  display: none;
  margin: auto;
  padding: 1em;
  font-size: larger;
  text-align: center;
  background: red;
  color: white;
  @media (max-width: 450px) {
    display: block;
  }
}
