@import 'book-styles';
@import 'card-styles';
@import 'colors';
@import 'transitions';
@import 'fonts';
@import 'reader';

body {
  color: $black;
  background: $white;
}
a {
  color: inherit;
  border-bottom: 1px solid;
}
a:hover {
  color: $orange;
  border-bottom: 1px solid $orange;
}

blockquote p {
  color: $darkgray;
  margin: 1em 0 2em 2rem;
}

.container {
  margin: 4em auto;
  max-width: 1600px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
  font-weight: bold;
}
header {
  h2 {
    padding-top: 2rem;
  }
  text-align: center;
  h6 {
    text-transform: uppercase;
    padding-bottom: 2rem;
  }
  blockquote {
    text-align: left;
    margin: 2rem auto;
    padding-left: 2rem;
  }
}
@keyframes lineAnim {
    to {
      stroke-dashoffset: 0;
    }
}

header.section-divider {

  svg {
    filter: url(#filter-line-wiggle);
    -webkit-filter: url(#filter-line-wiggle);
    height: 1rem;
    margin: 2rem 0 1rem 0;
    line {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: lineAnim 4s linear forwards;
    }
  }
  img {
    max-width: 33vw;
    max-height: 25px;
    margin: 3rem 0 2rem 0;
    opacity: 0.15;
  }
}


p {
  font-family: 'Lora', serif;
  font-size: 18px;
}

.current-section > section,
.section > section {
  width: 55%;
  margin: auto;
}

.current-section > .reader,
.section > .reader {
  width: 80%;
}

.strikethrough {
  text-decoration: line-through;
}

blockquote {
  color: $darkgray;
  border: none;
}
.sign {
  background: radial-gradient(ellipse farthest-corner at 90% 90%,
                                    rgba(70, 60, 60, .8) 0%,
                                    rgba(65, 60, 60, 1) 100%);

  color: $white;
  padding: 2rem;
  text-align: center;
  margin: 1.5em 0;
  h4 {
    font-family: $sign-font;
  }
  p {
    background: none !important;
    color: $white;
    text-align: justify;
    margin: 1em 0 0 0;
  }
}
body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

figure {
  width: 60vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -30vw;
  margin-right: -30vw;

}
/*
.chapter section p, .current-chapter section p {
  background: radial-gradient(ellipse at center,
            rgba(255, 255, 255, .8) 80%,
            rgba(255, 255, 255, 0)
  );
}
*/
