@import 'colors';
@import 'fonts';




.reader .doc .reader-container .pages {

  &.frag1, &.frag2, &.frag3, &.frag4, &.frag5, &.frag6, &.frag7, &.frag8 {

    article.article {
      padding: 0rem 1rem;
      p, h1, h2, h3, h4, h5, h6 {
        font-family: $utopian-font;
        font-size: 1.3rem;
        text-indent: 0;
      }
    }
    background-image: url('../images/textures/paper1.png');
    z-index: -999999;
  }

  &.notes, &.astrolith1 {

    article.article {
      text-indent: 0;
      p, h1, h2, h3, h4, h5, h6 {
        font-family: $word-font;
      }
    }
    font-family: $word-font;
  }
  &.astrolith1 {
    article.article {
      h1, h2, h3, h4, h5, h6 {
        font-family: $students-font;
      }
    }
  }
  &.age {
    h1, h2, h3, h4, h5, h6 {
      text-align: center;
      line-height: 1em;
    }
    h1, h2 {
      font-family: giglio_wfregular, serif;
    }
    h6 {
      font-size: .4rem;
      text-transform: uppercase;
    }
  }
  &.paper1 {
    width: 150%;
    margin-left: -25%;
    .recto, .verso {
      display: none;
    }
    .paper-container {
      column-count: 2;
      p {
        font-family: $utopian-font;
        font-size: 1.1rem;
        line-height: 1.3rem;
        text-indent: 0;
        text-align: justify;
      }
    }
    h1 {
      line-height: 1.2em;
    }
    h1, h2, h3, h4, h5, h6 {
      text-align: center;
      font-family: $utopian-font;
    }
    h2 {
      font-size: 1rem;
      font-weight: normal;
      font-style: italic;
    }
    header {
        border-bottom: 1px solid $gray;
        margin-bottom: 2rem;
        padding-bottom: 1rem;
        img {
          margin: auto;
          max-width: 200px;
          display: block;
      }
    }
  }
  &.paper2, &.paper3, &.paper4 {

    max-width: 75%;
    .recto, .verso {
      display: none;
    }
    p {
      font-family: $utopian-font;
      font-size: 1.1rem;
      line-height: 1.4rem;
      text-indent: 0;
      text-align: justify;
    }
    small {
      text-transform: uppercase;
    }
    h1, h2, h3, h4, h5, h6 {
      text-align: center;
      text-transform: uppercase;
      font-family: $utopian-font;
    }
    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 1rem;
      font-weight: normal;
      font-style: italic;
    }
    img {
      margin: auto;
      max-width: 200px;
      display: block;
    }

    header {
        margin-bottom: 2rem;
        padding-bottom: 1rem;
    }
  }
  &.paper2 {
    img {
      margin-bottom: 1em;
    }
  }
  &.paper3, &.paper4 {
    max-width: 100%;
    header {
      margin-bottom: 0;
    }
    h2 {
      padding: 0;
    }
    img {
      max-width: 25%;
    }
    h4 {
      margin: .5em 0;
    }
  }
  &.lynn1, &.lynn2, &.lynn3 {
    font-family: $lynn-font;
    font-size: 22px;

    article.article {
      p {
        font-family: $lynn-font;
        font-size: 24px;
        line-height: 1.3em;
      }
    }

  }
  &.diagram1 {
    width: 150%;
    margin-left: -25%;
    img {
      display: block;
      margin: auto;

    }
    .recto, .verso {
      display: none;
    }
  }
  &.lillian1 {
    width: 110%;
    margin-left: -5%;
    .recto, .verso {
      text-transform: none;
    }
    article.article {
      p {
        font-family: $lillian-old-font;
        font-color: $lillian-color;
        font-size: 22px;
        line-height: 1.3em;
      }
    }
    font-family: $lillian-old-font;
    font-color: $lillian-color;
  }


}


.first-letter {
  font-size: 50px;
  float: left;
  line-height: 25px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 2px;
}
