
.chapter .computer p, .current-chapter .computer p {
  background: none;
}

.reader .doc .reader-container .pages {

  &.frag1 {

    background-image: url(/images/textures/paper1.jpg);
    article {
      padding: 1rem 3rem;
    }
  }
}
