@import 'colors';
@import 'fonts';

.chapter .computer p, .current-chapter .computer p {
  background: none;
}

.reader .doc .reader-container .pages {

  &.frag1 {
    background-image: url(/images/textures/paper1.jpg);
    article {
      padding: 1rem 3rem;
    }
  }
  &.notes {
    background: none;

    article.article {
      text-indent: 0;
      margin: 2rem;
      p, h1, h2, h3, h4, h5, h6 {
        font-family: $word-font;
      }

    }
    font-family: $word-font;
  }
  &.age {
    h1, h2, h3, h4, h5, h6 {
      text-align: center;
      line-height: 1em;
    }
    h1, h2 {
      font-family: giglio_wfregular, serif;
    }
    h6 {
      font-size: .4rem;
      text-transform: uppercase;
    }
    background: radial-gradient(ellipse farthest-corner at 90% 90%,
                                      rgba(0, 10, 10, .05) 0%,
                                      rgba(220, 220, 210, .8) 100%);

  }
}
