@import 'colors';
@import 'fonts';

.card {
  font-family: 'Archivo Narrow', sans-serif;
  color: $black;
  font-size: 16px;
  position: absolute;
  margin-top: -5rem;
  width: 18%;
  min-width: 100px;
  text-indent: 0;
  line-height: 1.3rem;
  visibility: hidden; /* Might want to do an animation transition here */

  &.right {
    right: 2%;
    text-align: left;
    padding: 0 0 0 20px;
    visibility: visible;
  }
  &.left {
    left: 2%;
    text-align: right;
    padding: 0 20px 0 0;
    visibility: visible;
  }
  &.lynn {
    font-family: $lynn-font;
    color: $lynn-color;
    font-size: 24px;
    line-height: 1.5rem;
  }

  &.force-down {
    font-family: 'Archivo Narrow', sans-serif;
    color: $black;
    width: 100%;
    margin-top: 10rem;
  }
}

.chapter p, .current-chapter p {
  background: radial-gradient(ellipse at center,
            rgba(255, 255, 255, .8) 60%,
            rgba(255, 255, 255, 0)
  );
}


.jtk-connector {
  z-index: -1;
  filter: url(#filter-line-wiggle);
  -webkit-filter: url(#filter-line-wiggle);
}

.link-source span span {
/*  background: rgba(255, 255, 0, .2); */
  border-bottom: 1px dotted $gray;
}
.link-source span span a {
/*  background: $white; */
}
