@import 'colors';
@import 'fonts';

.card-style {
  font-family: $card-font;
  color: $black;
  font-size: 16px;
  text-indent: 0;
  line-height: 1.3rem;
}
.card-inline {
  @extend .card-style;
  width: 80%;
  padding-left: 3em;
}

.card {
  @extend .card-style;
  position: absolute;
  margin-top: -5rem;
  width: 18%;
  min-width: 100px;
  visibility: hidden; /* Might want to do an animation transition here */

  &.right {
    right: 2%;
    text-align: left;
    padding: 0 0 0 20px;
    visibility: visible;
  }
  &.left {
    left: 2%;
    text-align: left;
    padding: 0 20px 0 0;
    visibility: visible;
  }
  &.center {
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translateX(-50%);
    width: inherit;
    text-align: center;
    display: block;
    margin: 5rem auto 2rem auto;
    padding: 0;

    visibility: visible;
  }
  &.inline {
    display: block;
    position: static;
    width: 70%;
    margin: 2em 0 0 0 ;
  }
  &.lynn {
    font-family: $lynn-font;
    color: $lynn-color;
    font-size: 22px;
    font-weight: normal !important;
    line-height: 1.2em;
  }
  &.elsie {
    font-family: $elsie-font;
    font-size: 24px;
    line-height: 1.1em;
    color: $elsie-color;
  }
  &.students {
    font-family: $students-font;
    color: $students-color;
  }
  &.force-down {
    font-family: 'Archivo Narrow', sans-serif;
    color: $black;
    width: 100%;
    margin-top: 10rem;
  }
}

.jtk-connector {
  z-index: -1;
  filter: url(#filter-line-wiggle);
  -webkit-filter: url(#filter-line-wiggle);
}

.link-source span span {
/*  background: rgba(255, 255, 0, .2); */
  border-bottom: 1px dotted $gray;
}
.link-source span span a {
/*  background: $white; */
}
