.card {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 16px;
  position: absolute;
  margin-top: -5rem;
  width: 18%;

  &.right {
    right: 2%;
    text-align: left;
    padding: 0 0 0 20px;
  }
  &.left {
    left: 2%;
    text-align: right;
    padding: 0 20px 0 0;
  }
}

.chapter p, .current-chapter p {
  background: radial-gradient(ellipse at center,
            rgba(255, 255, 255, .8) 60%,
            rgba(255, 255, 255, 0)
  );
}


.jtk-connector {
  z-index: -1;
  filter: url(#filter-line-wiggle);
  -webkit-filter: url(#filter-line-wiggle);
}

.link-source span span {
  background: rgba(255, 255, 0, .2);
}
.link-source span span a {
  background: white;
}
