$lillian-old-font: 'Arapey', serif;
.lillian-old-font {
  font-family: $lillian-old-font;
  color: $lillian-color;
  font-size: 22px;
}
$lillian-new-font: 'Caveat', sans-serif;

.lillian-new-font {
  font-family: $lillian-new-font;
  color: $lillian-color;
  font-size: 30px;
}

$elsie-font: 'Julee', sans-serif;

.elsie-font {
  font-family: $elsie-font;
  color: $elsie-color;
  font-size: 22px;
}

$students-font: 'Comic Sans', Chalkboard, sans-serif;

.students-font {
  font-family: $students-font;
  color: $students-color;
  font-size: 22px;
}

$card-font: 'Archivo Narrow', sans-serif;

.card-font {
  font-family: $card-font;
}

$lynn-font: 'BenchNine', sans-serif;

.lynn-font {
  font-family: $lynn-font !important;
  color: $lynn-color;
  font-size: 22px !important;
  line-height: 1.2em !important;
}

$word-font: 'Arial', 'Helvetica', sans-serif;

.word-font {
  font-family: $word-font;
}


$sign-font: 'Cinzel Decorative', cursive;

.sign-font {
  font-family: $sign-font;
}

$typewritten-font: 'Inconsolata', monospace;

.typewritten {
  font-family: $typewritten-font;
}

$utopian-font: 'EB Garamond', serif;

.utopian-font {
  font-family: $utopian-font;
}
