$lillian-old-font: 'Arapey', serif;
.lillian-old-font {
  font-family: $lillian-old-font;
  color: $lillian-color;
  font-size: 22px;

}

$elsie-font: 'Julee', sans-serif;

.elsie-font {
  font-family: $elsie-font;
  color: $elsie-color;
  font-size: 22px;
}

$students-font: 'Comic Sans', Chalkboard, sans-serif;

.students-font {
  font-family: $students-font;
  color: $students-color;
  font-size: 22px;
}

$card-font: 'Archivo Narrow', sans-serif;

.card-font {
  font-family: $card-font;
}

$lynn-font: 'BenchNine', sans-serif;

.lynn-font {
  font-family: $lynn-font !important;
  color: $lynn-color;
  font-size: 22px !important;
  line-height: 1.2em !important;
}

$word-font: 'Arial', 'Helvetica', sans-serif;

.word-font {
  font-family: $word-font;
}

.warp {
  filter: url(#filter-line-warp);
  -webkit-filter: url(#filter-line-warp);
}

$sign-font: 'Cinzel Decorative', cursive;

.sign-font {
  font-family: $sign-font;
}

$typewritten-font: 'Inconsolata', monospace;

.typewritten {
  font-family: $typewritten-font;
}

@font-face {
    font-family: 'giglio_wfregular';
    src: url('fonts/giglio-webfont.woff2') format('woff2'),
         url('fonts/giglio-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$utopian-font: 'EB Garamond', serif;

.utopian-font {
  font-family: $utopian-font;
}
