@import 'colors';
@import 'transitions';
@import 'fonts';

/* Reader UI */
.reader {
  margin: 3rem auto;

  .doc {
    .reader-container {

      .pages {
        margin: auto;
        box-shadow:
          0 0 1em rgba(0,0,0,0.15);

        padding: 1rem 1rem;
        font-family: 'Playfair Display', serif;

        .recto, .verso {
          margin-bottom: 1rem;
          .title {
            display: inline-block;
            font-size: 1rem;
            text-transform: uppercase;
          }
        }
        .recto {
          .title {
            margin-left: 2rem;
          }
          text-align: left;
          float: left;
        }
        .verso {
          .title {
            margin-right: 2rem;
          }
          text-align: right;
          float: right;
        }

        article.article {
          clear: both;
          text-indent: 1em;

          p {
            font-family: 'Playfair Display', serif;
            font-size: 16px;
            background: none;
            margin: 0 0 1em 0;
          }
          padding: 1rem 2rem;
          &.book {
            padding: 1rem 2rem;
            /*
            column-count: 2;
            column-gap: 4rem;
            column-rule: solid $page-divider 1px;
            */
            p {
              text-align: justify;
            }
          }
        }
      }
    }
  }
}
